pywin32:
pip install pywin32

all imports:
import win32api
import win32con
import win32gui
from win32file import *
from win32ui import *
from win32con import *
from win32gui import *
import ctypes
import random
import time
import os
import math